<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scrapMapper">

	<resultMap type="Scrap" id="resultScrap">
		<result property="user_id" column="user_id" />
		<result property="no" column="no" />
	</resultMap>

	<resultMap type="Scrap" id="resultList">
		<result property="user_id" column="user_id" />
		<result property="no" column="no" />
	</resultMap>

	<select id="selectScrap" resultMap="resultScrap" parameterType="Scrap">
		<![CDATA[
		select * from tb_scrap where user_id = #{user_id} and no = #{no} 
		]]>
	</select>
	
	<insert id="insertScrap" parameterType="Scrap" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="true">
		insert into tb_scrap values (#{user_id}, #{no})	
	</insert>
	
	<insert id="deleteScrap" parameterType="Scrap" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="true">
		delete from tb_scrap
		where user_id= #{user_id} and no = #{no}	
	</insert>
	
	
	<!-- <update id="updateMember" parameterType="Member" flushCache="true"
		statementType="PREPARED">
		<![CDATA[
		update member set userpwd = #{userpwd}, age = #{age}, email =
		#{email}, phone = #{phone}, hobby = #{hobby}, etc = #{etc} where
		userid = #{userid}
		]]>
	</update> -->

	<delete id="deleteFestival" parameterType="_int" flushCache="true"
		statementType="PREPARED">
		<![CDATA[delete from tb_festival where no = #{no}]]>
	</delete>
	
	

</mapper>
