<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.kh.westival.member.model.vo.Member" alias="Member" />
		<typeAlias type="org.kh.westival.community.model.vo.Community" alias="Community" />
		<typeAlias type="org.kh.westival.community.model.vo.CommunityReply" alias="CommunityReply" />	
		<typeAlias type="org.kh.westival.community.model.vo.CommunityPaging" alias="CommunityPaging" />
		<typeAlias type="org.kh.westival.festival.model.vo.Festival" alias="Festival" />
		<typeAlias type="org.kh.westival.festival.model.vo.FestivalReply" alias="FestivalReply" />
		<typeAlias type="org.kh.westival.festival.model.vo.Recommend" alias="Recommend" />
		<typeAlias type="org.kh.westival.festival.model.vo.Scrap" alias="Scrap" />
		<typeAlias type="org.kh.westival.festival.model.vo.TicketOption" alias="TicketOption" />	
		<typeAlias type="org.kh.westival.festival.model.vo.Age" alias="Age" /> 
		<typeAlias type="org.kh.westival.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="org.kh.westival.notice.model.vo.NoticePage" alias="NoticePage" />
		<typeAlias type="org.kh.westival.qna.model.vo.Qna" alias="Qna" />
		<typeAlias type="org.kh.westival.qna.model.vo.QnaReply" alias="QnaReply" />	
		<typeAlias type="org.kh.westival.ticket.model.vo.Ticket" alias="Ticket" />
		<typeAlias type="org.kh.westival.ticket.model.vo.Refund" alias="Refund" />
		<typeAlias type="org.kh.westival.admin.model.vo.Admin" alias="Admin" />
		<typeAlias type="org.kh.westival.admin.model.vo.AdminTicketPage" alias="AdminTicketPage" />
		<typeAlias type="org.kh.westival.admin.model.vo.AdminFestivalPage" alias="AdminFestivalPage" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/community-mapper.xml" />
		<mapper resource="mappers/festival-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/qna-mapper.xml" />
		<mapper resource="mappers/ticket-mapper.xml" />
		<mapper resource="mappers/ticketOption-mapper.xml" />
		<mapper resource="mappers/scrap-mapper.xml" />
		<mapper resource="mappers/admin-mapper.xml" />
	</mappers>
</configuration>

<!-- <configuration>
	<typeAliases>
		<typeAlias type="org.kh.westival.admin.model.vo.admin" alias="Admin" />
	</typeAliases>	
	<mappers>
		<mapper resource="mappers/admin-mapper.xml" />
	</mappers>
</configuration> -->
